{
	servers {
		protocols h1 h2
	}
}

lunalis.tech {
	reverse_proxy budget-app:8000
}

db.lunalis.tech {
	basic_auth {
		{$APP_USER} {$APP_PASSWORD_HASH}
	}
	reverse_proxy sqlite-web:8080
}

:80 {
	redir https://{host}{uri} permanent
}
